<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266632095029-malt5k970t6a8drgtjinhmchhiljpku1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266632095029-malt5k970t6a8drgtjinhmchhiljpku1</string>
	<key>API_KEY</key>
	<string>AIzaSyDUdHkTZcaNcl63MhIoGTIcfFHHLXQ41gw</string>
	<key>GCM_SENDER_ID</key>
	<string>266632095029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.agbenya.CovidMarketPlace</string>
	<key>PROJECT_ID</key>
	<string>shopncollect-15266</string>
	<key>STORAGE_BUCKET</key>
	<string>shopncollect-15266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266632095029:ios:f96e1588c4749ab783187c</string>
	<key>DATABASE_URL</key>
	<string>https://shopncollect-15266.firebaseio.com</string>
</dict>
</plist>